body{

font-family:Arial;
background:#f5f5f5;
margin:0;
padding:20px;

}

h2{

text-align:center;

}

input,select,button{

width:100%;
padding:12px;
margin-top:10px;
margin-bottom:10px;
font-size:16px;
border-radius:8px;
border:1px solid #ccc;

}

button{

background:#2196f3;
color:white;
border:none;

}

button:hover{

background:#1976d2;

}

#loginBox,#appBox{

background:white;
padding:20px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);

}
